.tasks {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
            padding-top: 0px;
        }
    
}
.tasks__list {
    @media screen and (min-width: 1200px) {
        display: flex;
            gap: 30px;
        }
    }
.tasks__thumb {
    @media screen and (min-width: 1200px) {
            position: relative;
        }
   
}
.tasks__text {
    @media screen and (min-width: 1200px) {
            position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70px;
            
                font-weight: 700;
                font-size: 14px;
                line-height: calc(16 / 14);
                letter-spacing: 0.03em;
                text-transform: uppercase;
            
                color: var(--background-color);
                background-color: rgba(47, 48, 58, 0.8);
        }
    
}