      :root {
       --primary-text-color: #757575;
       --secondary-text-color: #212121;
       --accent-color: #2196f3;
       --background-color: #ffffff;
       --logo-color: #000000;
       --filterbutton-color: #f5f4fa;
       --herobutton-color: #188ce8;
       --footer-color: #2f303a;
       --hero-bg: #c4c4c4;
       --address-color: rgba(255, 255, 255, 0.6);
       --border-color: #ececec;
       --hero-bg: #c4c4c4;
       --icon-color: #afb1b8;
       --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }